.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-around;
}

.button {
  display: inline-block;
  height: 1.5em;
  border: 1px black solid;
  border-radius: 5px;
}

